@import "../../styles/variables.scss";

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btnsModal {
  background-color: white;
  border: none;
  color: $primaryColor;
}
